:root {
    --bg-red: red;
    --bg-w: rgb(2, 67, 124);
    --bg-darck: black;
    --bg-or: rgb(197, 98, 6);
    --bg-gy: rgb(128, 126, 126);
    --bg-blanco: rgb(197, 197, 197);
}

.header {
    background-color: var(--bg-darck);
    height: 37.5%;
    width: 100%;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    color: aliceblue;
    padding: 21px -2px 2px 11px;
    clip-path: polygon(0% 0%, 100% 0%, 108% 10%, 60% 10%, 0% 120%);
    border-radius: 0em 0em 50px 0em;
    box-shadow: 3px  1px 1px 1px rgb(117, 117, 117);
    border: 2px solid rgb(143, 139, 139);
    position: fixed;
    top: 0;
    z-index: 1;
}

.poquebolla {
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom, var(--bg-red) 50%, var(--bg-blanco) 50%);
    border-radius: 50%;
    border: 3px solid var(--bg-darck);
    position: relative;
    top: 7%;
    left: 2%;
    overflow: hidden;
    /* animation: spin 5s linear infinite; */
    box-shadow: 0px 0px 10px rgb(224, 4, 4);
    animation: scale 0.8s infinite alternate;

}

.line {
    width: 100%;
    height: 20px;
    background-color: var(--bg-darck);
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--bg-blanco);
    border: 5px solid var(--bg-darck);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circlemini{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid linear-gradient(to bottom, var(--bg-gy) 40%, var(--bg-blanco) 10%);
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, var(--bg-darck) 20%, var(--bg-blanco) 60%);
    box-shadow: 0px 0px 10px rgb(224, 4, 4);
    animation: spin 5s linear infinite;
}



.flame {
    position: absolute;
    top: -var(--flame-size);
    left: 50%;
    transform: translateX(-50%);
    width: var(--flame-size);
    height: var(--flame-size);
    background-color: var(--flame-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--flame-color), 0 0 20px var(--flame-color), 0 0 30px var(--flame-color);
    animation: flame-movement 1s infinite ease-in-out;
  } 

@keyframes scale{
    from{
        transform: scale(1);
     
    }
    to{
        transform: scale(1.05);
     
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);

    }


  }
  